<div class="fixed w-14 sm:w-16 xl:w-[15rem] h-screen p-2 bg-[#0e0e10]">
    <div>
        <p class="hidden xl:flex uppercase font-bold text-sm">
            Recommended Channels
        </p>
        <p class="flex justify-center w-full size-[20px] xl:hidden">
            <i class="fa-solid fa-video"></i>
        </p>
    </div>
    {% for channel in recomendedChannels %}
        <div class="inline-flex items-center w-full py-[2px]">
            <div class="w-[50px] h-[50px] flex justify-center items-center">
                <a href="/watch/{{ channel.username }}">
                    <img class="object-contain" src="{{ channel.avatar }}" height="30" width="30"
                         alt="{{ channel.username }}'s channel">
                </a>
            </div>
            <div class="hidden xl:flex justify-between w-full">
                <div>
                    <a href="/watch/{{ channel.username }}">
                        <p>{{ channel.username }}</p>
                        <p class="text-gray-400">{{ channel.title }}</p>
                    </a>
                </div>
                <p class="flex items-center text-sm">
                    <i class="fa-regular fa-circle-dot text-red-600"></i>&nbsp;{{ channel.viewers }}K</p>
            </div>
        </div>
    {% endfor %}
</div>